<h1>Edição de participantes</h1>

<% form_for(@sorteio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @sorteio %> |
<%= link_to 'Voltar', sorteios_path %>
