<h1>Listing sorteios</h1>

<table>
  <tr>
  </tr>

<% for sorteio in @sorteios %>
  <tr>
    <td><%= link_to 'Show', sorteio %></td>
    <td><%= link_to 'Edit', edit_sorteio_path(sorteio) %></td>
    <td><%= link_to 'Destroy', sorteio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sorteio', new_sorteio_path %>
