<p>
  <b>Nome:</b>
  <%=h @participante.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @participante.email %>
</p>




<%= link_to 'Editar', edit_participante_path(@participante) %> |
<%= link_to 'Voltar', participantes_path %>
