<p>
  <b>Nome:</b>
  <%=h @participante.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @participante.email %>
</p>




<%= link_to 'Editar', edit_sorteio_participante_path(@sorteio,@participante) %> |
<%= link_to 'Voltar', sorteio_participantes_path %>
